.jumbotron{
    margin-top: 100px;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
p{
    font-family: Courgette;
    color: gray;
    margin: 25px;
    padding:10px;
    text-align: center;
}

body {
    background-image: url(bkgrnd.jpg);    
}

h3 {
    font-family: Courgette;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 40px;
}

.label {
    font-family: Courgette;
    color: gray;
    font-size: 15px;
}

.form {
    margin-top: 10px;
    padding: 20px;
}

button {
    margin-top: 20px;
}

h2 {
    font-family: Courgette;
    text-align: center;
    color: gray;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}


table,tr,td {
    border: 1px solid grey;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

#myCarousel{
    margin: 100px;    
}

.form-background{
    background: lightgray;
    padding: 20px;
}